
@{
    ViewBag.Title = "Index";
}

<head>
    <!--link to full CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="~/Content/AddedStyle.css">
</head>

<style>
    /*CSS style additions for text and background*/
    h1,h3,text
    {
        text-align:center;
    }
    body 
    { 
        font-size: 20px; 
        background-image: url("https://amp.businessinsider.com/images/5b2d30351ae6623a008b473b-1536-768.jpg");    
    }
    
    h1
    {
        font-size: 45px;
        color: darkred;
    }
    h2
    {
        font-size: 25px;
    }
    .theBurgers {
        text-align: right;
        padding-left: 30px;
        border-right: 0px;
    }

    table {
        border-collapse: separate;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        border-color: black;
        padding: 10px;
    }

    td, th {
        /*border-left: solid black 1px;*/
        border-top: solid black 1px;
        
    }

    th {
        padding: 10px;
        border-top: none;
    }     

</style>

<body>
    <h1>GIVE THE PEOPLE BURGERS</h1>
    <br>

    <!--Customer name and number output-->
    <div style="padding-left: 200px">
        <h2>Our Customers</h2>
        @Html.Raw((String)ViewBag.Output)

    </div>

</body>


