
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/AddedStyle.css">
</head>

<style>
    h1,h3,text
    {
        text-align:center;
    }
    body 
    { 
        font-size: 20px; 
        background-image: url("https://amp.businessinsider.com/images/5b2d30351ae6623a008b473b-1536-768.jpg");    
    }
    
    h1
    {
        font-size: 45px;
        color: navy;
    }
    h2
    {
        font-size: 25px;
    }
    
   

</style>

<body>
    <h1>GIVE THE PEOPLE BURGERS</h1>
    <br>

    <div style="padding-left: 200px">
        <h2>Our Customers</h2>
        @Html.Raw((String)ViewBag.Output)

    </div>

</body>


